.percentagetext{
    font-size: 10px;
}

table {
    width: 100%;

    thead{
        th{
            color: white;
        }
    }

    tbody{
        tr{
            background: white;
            border-bottom: 1px solid #eceeef;
            cursor: pointer;

            &:hover{
                background: #eceeef;
            }

        &:first-child{
            td:first-child{
                    border-radius: 15px 0 0 0;
            }

            td:last-child{
                border-radius: 0 15px 0 0;
            }
        }

        &:last-child{
            border-bottom: 0;
            background: #eceeef;
             td:first-child{
                    border-radius: 0 0 0 15px;
            }

            td:last-child{
                border-radius: 0 0 15px;
            }
        }
        }
    }

    tr{
        
        
        td{
            padding: 15px;
        }

        th{
            padding: 5px 15px;
        }
    }

    .pricebox {
    background: white;
    margin: 10px 0;
    padding: 20px;

    .pricebox {
    background: white;
    margin: 10px 0;
    padding: 20px;
}
}
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}